{% extends "layout/base.html" %}

{% block title %}Page de creation de compte{% endblock %}

{% block content %}
    {% if error != None %}
        <div>{{ error }}</div>
    {% endif %}

    <form class="auth-form" action="{{ url_for('inscription') }}" method="POST">
        <div class="text-center">
            <h1>Créez votre compte</h1>
        </div>
        <div class="mt-3">
            <label for="username">Nom d'utilisateur</label>
            <input id="username" class="form-control" type="text" name="username" placeholder="Entrez votre nom d'utilisateur" />
        </div>
        <div class="mt-3">
            <label for="username_cf">Confirmez</label>
            <input id="username_cf" class="form-control" type="text" name="username_cf" placeholder="Confirmez votre nom d'utilisateur" />
        </div>
        <div class="mt-3">
            <label for="password">Mot de passe</label>
            <input id="password" class="form-control" type="password" name="password" placeholder="Entrez votre mot de passe" />
        </div>
        <div class="mt-3">
            <label for="password_cf">Confirmez</label>
            <input id="password_cf" class="form-control" type="password" name="password_cf" placeholder="Confirmez votre mot de passe" />
        </div>
        <div class="mt-4">
            <button class="btn btn-success" type="submit" name="send">Création</button>
        </div>
        <div class="mt-4 text-center"><a class="btn text-small" href="{{ url_for('login') }}">Vous avez déjà un compte ?</a></div>
    </form>
{% endblock %}